:root {
    --black: #000000;
    --Gray: #d9d9d9;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #1e1e1e;
}

nav {
    background-color: var(--black);
    width: 100%;
    position: fixed;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    z-index: 6;
}

.logo {
    font-family: 'Italiana', serif;
    font-size: 50px;

}

.links{
    font-family: 'Inika', serif;
}

.navui {
    display: inline;
    vertical-align: middle;
    justify-content: left;
    width: 100%;
    padding: 15px;
}

.navlink {
    color: #fff;
    text-decoration: none;
}

.hero img {
    width: 100vw;
}

#reserve {
    float: right;
    background-color: #7BA0FF;
    vertical-align: middle;
    font-size: 16px;
    padding: 9px;
    border-radius: 80px;
    color: #fff;
    text-decoration: none;
    margin-top: 18px;

    
}

.content {
    margin-bottom: 15px;
    padding: 20px;
}

.explore {
    font-family: 'Inter', sans-serif;
    background-color: #bbd3f5f1;
    font-size: 50px;
    width: 100%;
    height: 100px;
   }

main {
    display: flex;
    width: 100%;
    margin: 1px 5px;
}


.nature{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    margin-left: 20px;
    display: flex;
    background-color: #D9D9D9;
    width: 100%;
    height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.caves {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
}

.wild {
    display: flex;
    background-color: #D9D9D9;
    width: 65vw;
    height: 250px;
}

.carousel-container {
    display: flex;
}

.carousel {
    width: 35vw;
    height: 250px;
    display: flex;
    justify-content: center;
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide {
    position: absolute;
    justify-content: center;
    width: 35vw;
    height: 250px;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }
  
  .slide > img {
    display: block;
    width: 35vw;
    height: 250px;
    object-fit: cover;
    object-position: center;
    justify-content: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50px);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }

#weatherNotice {
    background-color: #D9D9D9;
    text-align: center;
    font-size: 4.5em;
    border-radius: 0px 10px 10px 0px;
    color: #000000;
}

.visit {
    display: flex;
    background-color: #D9D9D9;
    justify-content: center;
    font-family: 'Italiana', serif;
}

@media screen and (max-width: 950px) {
    body {
        width: 100vw;
    }

    div {
        text-align: center;
    }

    nav {
        height: 100px;
    }

    .logo {
        padding: 0px;
        font-size: 1.5em;
    }

    .navui {
        display: flex;
        flex-direction: column;
    }

    .navlink {
        visibility: hidden;
    }

    #reserve {
        position: fixed;
        top: 30px;
        right: 5px;
    }
    
    main {
      flex-direction: column;
      margin: 0;
    }

    .explore {
        text-align: center;
        font-size: 32px;
    }

    .partake {
        margin: 0px 0px 15px 0px;
        height: 50px;
        font-size: 1.2em;
    }

    .caves {
        font-size: 1.8em;
    }

    #weatherNotice {
        font-size: 2.5em;
        width: 100%;
    }
}

/* Reserve Form CSS begins here */

.form {
    background-color: #ffffff;
    width: auto;
    height: 100%;
}

.formback {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: center center;
    opacity: 0.5;
}

.reservecontent {
    display: flex;
    position: relative;
    width: 60%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.spot {
    font-family: 'Inter', sans-serif;
}

.top {
    background-color: #7BA0FF;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 48px;
    color: #fff;
}

.data {
    display: flex;
    width: 100%;
    padding: 15px;
    flex-wrap: wrap;
    background-color: #D9D9D9;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50px
}

.bar {
    font-family: 'Inter', sans-serif;
}

.data input {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    border-radius: 10px;
    margin: 15px;
    padding: 6px;
}

.data button {
    width: 90%;
}

.userinfo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.response {
    display: flex;
    width: 40%;
    height: auto;
    flex-wrap: nowrap;
    margin: 10px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    border-radius: 0px 0px 10px 0px;
    padding: 10px;
    border-radius: 0px 0px 10px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}

.info p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0px;
}

#map {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}


@media screen and (max-width: 950px) {
    .userinfo {
        flex-direction: column;
    }

    .data {
        height: fit-content;
    }

    #map {
        margin: 10px 0px 0px 0px;
        border-radius: 10px 10px 0px 0px;
    }

    .info {
        width: 100%;
        margin: 0;
    }
}
